* {
  color: #fff;
}

.navbar-brand {
  color: #fff;
}

.nav-link {
  color: #fff;
  margin-right: 40px;
  margin-top: 20px;
}

.home {
  height: 720px;
  background-image: url("../img/darken-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.home h2 {
  font-size: 48px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 120px;
}

.highlight {
  color: #fff;
  animation: glow 1s ease-in-out infinite alternate;
}

.btn-akiradev {
  text-transform: uppercase;
  font-weight: bold;
  background-color: #ef0284;
  color: #fff;
  animation: glow 1s ease-in-out infinite alternate;
}

.btn-akiradev:hover {
  background-color: #fff;
  color: #ef0284;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ef0284,
      0 0 40px #ef0284, 0 0 50px #ef0284, 0 0 60px #ef0284, 0 0 70px #ef0284;
  }

  to {
    text-shadow: 0 0 10px #fff, 0 0 20px #ef0284, 0 0 30px #ef0284,
      0 0 40px #ef0284, 0 0 50px #ef0284, 0 0 60px #ef0284, 0 0 70px #ef0284;
  }
}
